

/*------forms design--------*/

.forms_formular {
    max-width: 50vw;
    margin: 1rem auto;
    border: 0.2rem solid #27292a;
    padding: 1rem;
    background-color: #27292a;
    color: white;
    border-radius: 0.1rem;

}

label {
    display: block;
    font-weight: 300;
    padding-top: 1rem;
}

input {
    border: 0.1rem solid white;
    border-radius: 0.3rem;
    width: 30vw;
    font-size: 1.1rem;
}

.send_button {
    background: #eadede;
    color: #27292a;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    float: right;
    border-radius: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;

}

.send_button:hover {
    background: #eadede;
    transition-duration: 0.2s;

}

.index_fill {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}


@media only screen and (min-width: 800px) {



/*-----------formular design---------- */
    #form_section{
        position: absolute;
        top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .forms_formular{
        grid-column: 2;
    }

}

/*----------FOOTER FIXED TIL BOTTOM--------*/
footer {
    position: absolute;
}
