/*BAGGRUNDS FARVE*/
body {
    background-color: #fffcf9
}

/*FONT RULES*/
h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;


}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;

}

a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

header {
    top: 0;
}

p {
    background-color: rgba(118, 118, 118, 0.09);
}


/*COMPUTER VERSION// DESKTOP // MIN 800 PX WIDTH*/

@media only screen and (min-width: 800px) {

    /*    MAIN*/

    body {
        margin: 0;
    }

    main {
        margin: 0;
    }

    /*---navmenu,desktop--*/
    #nav_img {

        width: 5rem;
    }

    .menu_img {
                background-color: black
    }

    #navbar {
        display: inline-block;
        background: rgb(0, 0, 0);

    }

    header {
        display: flex;
        width: 100vw;

        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 1;
        word-spacing: 1rem;

    }

    #navbar_design {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 0;


    }

    .line_design {
        display: inline-block;
        padding: 1rem;

    }

    nav a {
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        color: #ffffff;
    }

    a:visited {
        color: #ffffff;
    }

    a:active {
        color: #d09d14;
    }

    #menubar {
        /*        display: none;*/
    }


    /*--------FOOTER DESIGN--------*/
    footer {
        padding: 0.2rem;
    }

    .footer_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;

    }

    .footer_section h2 {
        font-size: 1rem;
    }

    .footer_section li {
        font-size: 0.8rem;
    }

}


/*MOBILE VERSION*/


/*FJERNER LISTEMENU I MOBILE VERSION*/
@media only screen and (max-width: 800px) {
    #navbar_design a {
        display: none;
    }

#navbar_design img{
        position: relative;
        left: 9rem;
    }
}


/*------BURGERMENUIKON------*/
#menu {
    width: 3rem;
    height: 3rem;
    margin-top: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.bar {
    height: 0.3rem;
    width: 100%;
    background-color: #ffffff;
    display: block;
    border-radius: 1rem;
    transition: 0.4s ease;
}

#bar1 {
    transform: translateY(-1rem);
}

#bar3 {
    transform: translateY(1rem);
}

/*------JS-classes, animation-------*/

.change .bar {
    background-color: black;
}

.change #bar1 {
    transform: translateY(0.4rem) rotateZ(-45deg);
    background-color: white;
}

.change #bar3 {
    transform: translateY(0rem) rotateZ(45deg);
    background-color: white;
}

.change #bar2 {
    display: none;
}

/*-----------nav display & design-----------*/

.nav {
    display: none;
    position: fixed;
    z-index: -2;


}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

.nav li {
    list-style: none;
    padding: 3rem;
    margin-left: 2rem;
}

.nav li a:hover {
    font-weight: bold;
    color: #d09d14;
}

/*-----------BURGER MENU DESIGN-----------*/

.menu_img,
#menubar {
    top: -0.5rem;
    left: 0;
    position: absolute;
}

.menu_img {
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

#menubar {
    z-index: 2;
}

.change_img {
    width: 100%;
    height: 100%;
}

.change {
    display: block;

}

/*-----------footer design, mobil-----------*/
footer a {
    text-decoration: none;
    color: white;
}

footer {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    padding-top: 1.5rem;
}

.footer_item h2 {
    text-align: center;
}

footer a {
    color: black;
}

footer ul {
    text-align: center;
    padding: 0;
    color: #000000;
}

.resident_li a {
    color: #000000;
}
